[submodule "test/manual"]
	path = test/manual
	url = https://github.com/FluidSynth/testdata.git
[submodule "gcem"]
	path = gcem
	url = https://github.com/kthohr/gcem.git
[submodule "signalsmith-audio-basics"]
	path = signalsmith-audio-basics
	url = https://github.com/Signalsmith-Audio/basics.git
