name: Codespell Linter

on:
  pull_request:
    branches:
      - '**'

jobs:
  codespell:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      # Run Codespell to check for typos
      - name: Run Codespell
        uses: codespell-project/actions-codespell@v2
        with:
            ignore_words_list: READD,caf,rin,datas,Claus
            skip: ./.git,*.pdf,./AUTHORS,./THANKS,./contrib
