name: Codespell Linter

on:
  pull_request:
    branches:
      - '**'

jobs:
  codespell:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # Run Codespell to check for typos
      - name: Run Codespell
        uses: codespell-project/actions-codespell@v2
        with:
            only_warn: 1
            ignore_words_list: READD,caf,rin
            skip: ./.git,*.pdf,./AUTHORS,./THANKS,./contrib
